<div class="card" style="width: 18rem;">
  <img src="https://www.google.com/search?q=jpg+pictures&rlz=1C1CHBD_enGE924GE924&sxsrf=ALeKk03VeUIn9p1GLOF2gYKO4U6cdBy5AA:1611904069873&tbm=isch&source=iu&ictx=1&fir=8b-_z-8JCgeqfM%252CBRf4FvCP6xXnmM%252C_&vet=1&usg=AI4_-kT72jTlL3Gz9acmF8tvfNCLSFfsAg&sa=X&ved=2ahUKEwjul_zLysDuAhXNzKQKHZPDAhUQ9QF6BAgaEAE#imgrc=8b-_z-8JCgeqfM" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{cardTitle}}</h5>
    <p [style.color] = "textColor" class="card-text">{{cardText}}</p>
  </div>
</div>

<div class="col-4">
<input class="form-control" [(ngModel)]="cardTitle"/>

<label>Enter new Text: </label>
<input class="form-control" [(ngModel)]="cardTextValue"/> 
<button class="btn btn-primary"  (click)="changeText()"> Change text</button>

<label>Enter new color: </label>
<input class="form-control" [(ngModel)] = "textColorValue"/>
<button class="btn btn-primary" (click)="changeColor()">Change Color</button>
</div>